@font-face {
    font-family: Crang;
    src: url('../font/Crang.ttf');
    font-weight: bold;
}
@font-face {
    font-family: Minecraft;
    src: url('../font/Minecraft.ttf');
    font-weight: bold;
}
body {
    background-color: #A5D8E9;
    font-family: Minecraft;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.col {
    display: inline-block;
    vertical-align: middle;
}
#PixCut {
    font-family: Crang;
}
.logo {
    color: #193263;
}
.cut-btn{
    background-color: #193263;
}
.cut-btn:hover, .cut-btn:active{
    background-color: #13254a;
}
.after-cut, .qr-code, .validation {
    display: none;
    transition: ease-in 2s;
}
.copy-btn{
    letter-spacing: 2px;
}
.pixel-corners {
    clip-path: polygon(
      0px calc(100% - 8px),
      2px calc(100% - 8px),
      2px calc(100% - 4px),
      4px calc(100% - 4px),
      4px calc(100% - 2px),
      8px calc(100% - 2px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 2px),
      calc(100% - 4px) calc(100% - 2px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 2px) calc(100% - 4px),
      calc(100% - 2px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 2px) 8px,
      calc(100% - 2px) 4px,
      calc(100% - 4px) 4px,
      calc(100% - 4px) 2px,
      calc(100% - 8px) 2px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 2px,
      4px 2px,
      4px 4px,
      2px 4px,
      2px 8px,
      0px 8px
    );
  }